input[type="checkbox"]{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    /*padding: 1vw 1vw 1.5vw 4vw;*/
    cursor: pointer;
}
input[type="checkbox"] + label:before {
    content: '-2';
    line-height: 8vh;
    text-align: center;
    position: absolute;
    /*top: 0.9vw;*/
    /*left: 0;*/
    max-width: 150px;
    max-height: 150px;
    width: 8vh;
    height: 8vh;
    border-radius: 0.6vw;
    background: #CDD1DA;
    transition: all .2s ease-in-out;
}
input[type="checkbox"]:checked + label:before {
    background: #03F6CB;
    border-radius: 4vh;
    transform: rotate(360deg) scale(0.75);
}
input[type="checkbox"]:hover + label:before{
    box-shadow: inset 0 0.2vw 0.3vw rgba(0,0,0,.2), 0 0 0 .3vw #0B42A8;
}